.button {
  color: $primary-text-color;
  background: $accent-color;
  border: none;
  width: 150px;
  display: block;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  padding: 7px 0;
  margin: 10px auto;
  cursor: pointer;
  @include box-shadow(2px,2px,2px,#000)
}

.button:hover:enabled {
  background: linear-gradient($accent-color,#FFF);
  color: #fff;
  text-decoration: none;
}

.button:active {
  @include button-transform(2px,2px);
}
