.App {
  text-align: center;
}

.App-header {
  font-size: 70px;
  font-family: "Josefin Sans";
  background-color: $primary-color-light;
  height: 100px;
  padding: 20px;
  color: $primary-text-color;
  @include box-shadow(2px,2px,2px,#000);
}
